{% extends 'base.html' %}
{% load static i18n %}

{% block meta %}
    <meta property="og:url" content="django project"/>
    <meta property="og:type"        content="Blog Django " />
    <meta property="og:title"       content="{{ object.title }}" />
    <meta property="og:description" content="projecto django del curso" />
    <meta property="og:image"       content="{% static 'frontend/img/blog/blog-django.jpg' %}" />
{% endblock meta %}

{% load static i18n %}
{% block title %}<title>Detalle Post</title> {% endblock title %}

{% block content %}

    <div class="breadcaump-area pt--400 pt_lg--300 pt_md--250 pt_sm--200 pb--100 bg_image--8 breadcaump-title-bar breadcaump-title-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcaump-inner text-center">
                        <h2 class="heading">Post</h2>
                        <div class="breadcrumb-insite">
                            <ul class="core-breadcaump">
                                <li><a href="{% url 'index:view-landing' %}">Inicio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="page-content">

        <!-- Start Blog Details -->
        <div class="brook-blog-details-area bg_color--1 pt--90 pb--150">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt_md--60 mt_sm--60 order-2 order-lg-1">
                        <!-- Start Sidebar Area -->
                        <div class="blog-sidebar-container">
                            <div class="blog-sidebar-wrapper">

                                <!-- Start Single Widget -->
                                <div class="bl-sidebar search">
                                    <h5 class="widget-title">Facebook</h5>
                                    <div class="fb-page" data-href="https://www.facebook.com/incosbot" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/incosbot" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/incosbot">IncosBot</a></blockquote></div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 col-md-12 col-sm-12 col-12 order-1 order-lg-2">
                        <div class="blog-details-wrapper">
                            <article class="blog-post standard-post">
                                <!-- Start Header -->
                                <div class="header mb--40 text-center">
                                    <h3 class="heading heading-h3 font-32">{{ object.title }}</h3>
                                    <div class="post-meta mt--20">
                                        <div class="post-date">Django</div>
                                        <div class="post-category"><a href="#">{{ object.status }}</a></div>
                                    </div>
                                </div>
                                <!-- Start Thumbnail -->
                                <div class="thumbnail mb--60">
                                    <img class="w-100" src="{% static 'frontend/img/blog/blog-django.jpg' %}" alt="Multipurpose">
                                </div>
                                <!-- Start Content -->
                                <div class="content basic-dark2-line-1px pb--50 mb--35">

                                    <div class="bk-quote-content">
                                        <blockquote class="brook-quote move-up wow">
                                            <div class="quote-text">{{ object.content }}</div>
                                        </blockquote>
                                    </div>
 
                                </div>


                            </article>

                            <div class="comments-wrapper">
                                <div class="inner">
                                    <h4 class="heading heading-h4">Comentario</h4>
                                    <div class="commnent-list-wrap mt--25">
                                        <div id="disqus_thread"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Blog Details -->

    </main>

{% endblock content %}

{% block pushjs %}
<div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v15.0&appId=383264375339567&autoLogAppEvents=1" nonce="8EsTTFYb"></script>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://cursodjango.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock pushjs %}
