{% load staticfiles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">     
<link rel="stylesheet" href="{% static 'css/sweetalert2.css' %}">     
<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">