{% load staticfiles %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/plugins-jquery.js' %}"></script>

<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vue_resource.js' %}"></script>

<script>
    var plugin_path = '{% static 'js/' %}'
</script>

<script src="{% static 'js/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'js/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'js/jvectormap/jquery-jvectormap-init.js' %}"></script>
<script src="{% static 'js/chart-init.js' %}"></script>
<script src="{% static 'js/calendar.init.js' %}"></script>
<script src="{% static 'js/sparkline.init.js' %}"></script>
<script src="{% static 'js/morris.init.js' %}"></script>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/toastr.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/lobilist.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>